* {
    padding: 0 auto;
    margin: 0 auto;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-image: url("https://wallpaperaccess.com/full/6508005.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

#contenedor {
    width: 1000px;
    height: 1000px;
    background-color: white;
    max-width: 0 auto;
}
#encabezado {
    display: flex;
    text-align: center;
    height: 15%;
    background-color: #C8E3EC;
    margin: 1em auto;
    align-items: center;
}
#colorEncabezado {
    text-decoration: none;
    color: black;
}
#menu {
    display: flex;
    background-color: #F9F8F8;
    height: 5%;
    align-items: center;
}
#seccion {
    width: 65%;
    height: 75%;
    background-color: white;
    float: right;
}
#perfilFuera {
    height: 75%;
    width: 35%;
    background-color: white;
    float: left;
}
#nombre {
    margin-top: 7%;
    margin-left: 21.5%;
}
#descripcion {
    margin-top: 2%;
    margin-left: 21.5%;
    margin-right: 3%;
    color: #7C8080;
}

.fotoPerfil {
    display: block;
    border-radius: 0.3rem;
    width: 200px;
    height: 150px;
    margin-top: 15%;
}
.fotoGoku {
    display: block;
    border-radius: 0.3rem;
    width: 250px;
    height: 200px;
}
.articulos {
    margin-top: 7%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    height: 600px;
    border-radius: 0.3rem;
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
}

.texto {
    display: inline-block;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    color: #7C8080;
    text-align: justify;
}

ul {
    text-align: center;
}
li {
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
}
a {
    text-decoration: none;
    color: #7C8080;
    transition: 0.3s;
}
a:hover {
    color:black;
}